{% extends "infos/main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>Zapraszam do kontaktu:</h3>
<li>telefon: 601 760 735</li>
<li>@: magda.ratajczak1986@gmail.com</li>
<li>FB: </li>
<li>LI: </li>

<li>Nie masz telefonu? Nie masz maila? Nie masz konta w mediach społecznościowych?</li>
<h3>
    <span style="color:red">!!</span>
    Zawsze możesz skorzystać z poniższego formularza
    <span style="color:red">!!</span>
</h3>
<form action="...">
	<textarea name="Zapraszam do kontaktu" cols="45" rows="10">Śmiało pisz tutaj, ta wiadomość i tak nigdzie nie zostanie zapisana ;) </textarea>
</form>

<h4>Jeśli chcesz wrócić na stronę główną <a href="http://127.0.0.1:8000/infos/">Kliknij tutaj</a></h4>
<h4>Jeśli chcesz jeszcze raz poznać moje mocne strony <a href="http://127.0.0.1:8000/infos/">Zapraszam tutaj</a></h4>



{% endblock %}
