{% extends "greetings/greetings.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>Zapraszam do kontaktu:</h3>
<li>telefon: 601 760 735</li>
<li>@: magda.ratajczak1986@gmail.com</li>
<li>FB: </li>
<li>LI: </li>

<li>Nie masz telefonu? Nie masz maila? Nie masz konta w mediach społecznościowych?</li>
<h3>
    <span style="color:red">!!</span>
    Zawsze możesz skorzystać z poniższego formularza
    <span style="color:red">!!</span>
</h3>
<form action="...">
	<textarea name="Zapraszam do kontaktu" cols="45" rows="10">Śmiało pisz tutaj, ta wiadomość i tak nigdzie nie zostanie zapisana ;) </textarea>
</form>

<img src="https://szkolamaturzystow.pl/scripts/courses/webinar_angielski3.jpg" alt="Praca" title="image" width="600" height="400" border="2" style="margin: 20px 20px" >


{% endblock %}
