<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Moja strona{% endblock %}</title>
</head>
<body style="background: #E8EAF6; font-family: Comic Sans MS  ;>
<div id="content">
   <div id="header">
       <h1>{{ nazwa }}</h1>
   </div>
   <div id="inner-content">
       {% block content %}
           <h2>Zapraszam do zapoznania się z moją pierwszą stroną internetową na której znajdziesz:</h2>
       <li> <a href="http://127.0.0.1:8000/infos/me"> Kilka słów o mnie </li>
       <li> <a href="http://127.0.0.1:8000/infos/contact"> Kontakt </li>
       {% endblock %}
   </div>
<img src="https://szkolamaturzystow.pl/scripts/courses/webinar_angielski3.jpg" alt="Praca" title="image" width="600" height="400" border="2" style="margin: 20px 20px" >
</div>
</body>
</html>