{% extends "infos/main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
   Mam na imię Magda.
   <br>Na co dzień pracuję jako inżynier w firmie produkującej rakiety kosmiczne.
   <br>Popołudnia spędzam głównie na nauce programowania.
   <br>Pomomo wielu niedociągnięć nieźle radzę sobie jako menażer domowy.

   <li>Jestem mistrzem logistyki i genialnym planistą domowym </li>
   <li>Potrawię być jednocześnie w 3 różnych miejscach, robiąc przy tym 3 różne czynności</li>
   <li>Miesięcznie jestem w stanie wyprać ok 200kg prania co w skali roku daje prawie 2,5 tony!!</li>
   <li>Świetnie pływam, pięknie tańczę, coraz lepiej idzie mi nauka gry w tenisa</li>
   <li>Potrafię rozwiązywać zadania z fizyki</li>
   <li>W czasie wolnym krecę rolki sushi</li>

<h4>Jeśli chcesz wrócić na stronę główną <a href="http://127.0.0.1:8000/infos/">Kliknij tutaj<h4>

{% endblock %}