{% extends "greetings/greetings.html" %}

{% block title %}Maths list{% endblock %}

{% block content %}
   <ul>
       {% for m in maths %}
           {# <li><a href="/maths/histories/{{ m.id }}">{{ m }}</a></li> #}
           <li><a href="{% url "maths:details" m.id %}">{{ m }}</a></li>
       {% endfor %}
   </ul>

    <div class="pagination">
   <span class="step-links">
       {% if maths.has_previous %}
           <a href="?page=1">« Pierwsza</a>
           <a href="?page={{ maths.previous_page_number }}">Poprzednia</a>
       {% endif %}

       <span class="current">
           Page {{ maths.number }} of {{ maths.paginator.num_pages }}.
       </span>

       {% if maths.has_next %}
           <a href="?page={{ maths.next_page_number }}">Następna</a>
           <a href="?page={{ maths.paginator.num_pages }}">Ostatnia »</a>
       {% endif %}
   </span>

        <img src="https://www.kaliszplastyk.pl/userdata/public/gfx/1330/159512SN_ALL.jpg" alt="Kalkulator" title="image" width="600" height="350" border="2" style="margin: 20px 0px;" >
</div>

   </div>
{% endblock %}